<div fxLayout="row" fxLayoutGap="10px" class="top-container">
  <div fxFlex="30%" fxLayout="column">
    <mat-card>
      <form name="form1" #f1 class="example-form">
        <mat-form-field class="input-text">
          <mat-label>New Deliverable Name</mat-label>
          <input
            matInput
            [(ngModel)]="newDeliverable.name"
            id="deliverableName"
            name="deliverableName"
            type="text"
            value=""
            placeholder="Deliverable X"
            required
            #deliverableName="ngModel">
        </mat-form-field>
        <mat-form-field class="input-text">
          <mat-label>Price</mat-label>
          <input
          matInput
          [(ngModel)]="newDeliverable.price"
          id="deliverablePrice"
          name="deliverablePrice"
          type="number"
          value="0"
          placeholder="Deliverable X"
          required
          #deliverablePrice="ngModel">
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        [disabled]="deliverableName.invalid || deliverablePrice.invalid"
        color="primary">
        Create!
      </button>
    </mat-card>
    <mat-card
      fxFlex="100%"
      class="deliverables-container"
      *ngFor="let group of groupArray.slice(0,1)">
      <div fxLayout="column"  class="example-container">
        <h2>{{group.name}} - {{ getTotalPrice(group)}}</h2>
        <div
          cdkDropList
          class="example-list"
          id="{{group.id}}"
          [cdkDropListData]="group.items"
          [cdkDropListConnectedTo]="connectedTo"
          (cdkDropListDropped)="drop($event)">
          <div
            class="example-box"
            *ngFor="let item of group.items"
            cdkDrag>
              {{item.name}} - {{item.price}}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="70%" fxLayout="column">
    <mat-card>
      <form name="form2" #f2 class="example-form">
        <mat-form-field class="input-text">
          <mat-label>New Group Name</mat-label>
          <input
            [(ngModel)]="newGroup.name"
            matInput
            id="groupName"
            name="groupName"
            type="text"
            value=""
            placeholder=""
            required
            #newGroupName="ngModel">
        </mat-form-field>
      </form>
      <button
        mat-raised-button
        color="primary"
        [disabled]="newGroupName.invalid"
        (click)="onAddGroup(newGroup.name)">
        Create!
      </button>
    </mat-card>
    <mat-card
      fxFlex="100%"
      class="groups-container"
      *ngFor="let group of groupArray.slice(1, groupArray.length)">
      <div fxLayout="column"  class="example-container">
        <h2>{{group.name}} - {{ getTotalPrice(group)}}</h2>
        <div
          cdkDropList
          class="example-list"
          id="{{group.id}}"
          cdkDropListOrientation="horizontal"
          [cdkDropListData]="group.items"
          [cdkDropListConnectedTo]="connectedTo"
          (cdkDropListDropped)="drop($event)">
          <div
            class="example-box"
            *ngFor="let item of group.items"
            cdkDrag>
              {{item.name}} - {{item.price}}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>